/* Aumentar tamaño de los íconos en el navbar */
.navbar-nav .nav-link i {
    font-size: 1.5rem; /* Ajusta el tamaño según tus necesidades */
}

/* Sombra para el logo del navbar */
/* Sombra para el logo del navbar que sigue la forma del PNG */
.navbar-brand img {
    filter: drop-shadow(
        0px 4px 8px rgba(0, 0, 0, 0.5)
    ); /* Ajusta la sombra a tus necesidades */
}

.floating-alert-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1050;
}

.floating-alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    animation: fade-in-out 5s forwards;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.alert-close {
    background: none;
    border: none;
    font-size: 1.2rem;
    line-height: 1;
    cursor: pointer;
}

