/* Sombra para el logo del navbar */
/* Sombra para el logo del navbar que sigue la forma del PNG */
.navbar-brand img {
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
    /* Ajusta la sombra a tus necesidades */
}

/* Contenedor de alertas flotantes centrado */
.floating-alert-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
}

.floating-alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    animation: fade-in-out 5s forwards;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    10%,
    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.alert-close {
    background: none;
    border: none;
    font-size: 1.2rem;
    line-height: 1;
    cursor: pointer;
}

.sidebar-icon {
    font-size: 1.8rem;
    /* Tamaño de iconos en escritorio */
}
.nav-icon {
    font-size: 1.5rem;
    /* Tamaño de iconos en escritorio */
}

.nav-link {
    justify-content: center;
    /* Alinear contenido en el centro para escritorio */
}

.sidebar-text {
    display: none;
    /* Ocultar texto por defecto */
}

@media (max-width: 1200px) {
    .sidebar-logo {
        display: none;
        /* Ocultar logo en móvil */
    }

    .sidebar-icon {
        font-size: 1.2rem;
        /* Reducir tamaño del icono */
    }

    .sidebar-text {
        display: inline;
        /* Mostrar texto en móvil */
        font-size: 0.875rem;
        /* Texto más pequeño */
    }

    .nav-link {
        justify-content: flex-start;
        /* Alinear contenido al inicio en móvil */
        gap: 0.5rem;
        /* Espacio entre icono y texto */
    }
}
